button {
  height: 40px;
  width: 40px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

.btn_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}