html{
  width: 500px;
  
}

body {
  width: 100%;
  
}

.content {
  width: 90%;
  margin: 10px 5%;
}

button {
  height: 40px;
  width: 40px;
  outline: none;
  /* margin: 10px; */
  border: none;
  border-radius: 2px;
}

code {
  color: #1e87f0 !important;
}

.btn_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.uk-divider-vertical {
  height: 40px!important;
  margin-left: 20px!important;
  margin-right: 20px!important;
}

.uk-card-body {
  padding: 10px;
}

.steps_array_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;
}

#steps_wrapper .uk-sortable-handle {
  width:30px;
}

#steps_wrapper .steps-card-delete-btn {
  width:30px;
}

#steps_wrapper .uk-card img {
  max-width: 80%;
  width: 80%;
}